.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pull-right {
  right: 0;
  margin-left: auto;
}

.WebLayout-noPadding-24 {
  padding: 0 !important;
}

.MuiCardContent-root-300:last-child {
  padding-bottom: 0px !important;
}

.Map {
  padding-top: 4px;
  position: relative !important;
  width: 100%;
  height: calc(70vh);
}

/* .scroll-handle {
  padding: 12px;
  max-height: 600px;
  overflow-y: scroll;
} */